*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color:grey ;
color: #000000;
}
body{
	background-color: #fdf7fa;
	color: rgb(39, 36, 36);
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;

}